
<div class="row">
    @using Library.Core.Shared;
    @model HomeViewModel
    @{
        var i = 0;
        var showForm = false;
    }
    <h1>Books</h1>

    <div class="col-sm-4">
        @using (Ajax.BeginForm("Index", new AjaxOptions() { }))
        {
            <div class="form-group">
                <label for="exampleFormControlInput1">Author Name</label>
                <input type="text" class="form-control" name="name" />
                @Html.Hidden("type", "3")
                <button type="submit" class="btn btn-primary" style="margin-top: 8px; width: 20%">Add</button>
            </div>
        }
    </div>
    <div class="col-sm-4">
        @using (Ajax.BeginForm("Index", new AjaxOptions() { }))
        {
            <div class="form-group">
                <label for="exampleFormControlInput1">Client Name</label>
                <input type="text" class="form-control" name="name" />
                @Html.Hidden("type", "2")
                <button type="submit" class="btn btn-primary" style="margin-top: 8px; width: 20%">Add</button>
            </div>
        }
    </div>
    <div class="col-sm-4">
        @using (Ajax.BeginForm("Index", new AjaxOptions() { }))
        {
            <div class="form-group">
                <label for="exampleFormControlInput1">Book Name</label>
                <input type="text" class="form-control" name="name" />
                <label for="authorSelect">Type of entity: </label>
                @Html.EnumDropDownListFor(m => m.EntityType, null, new { id = "f2_authorSelect", @class = "form-control", onchange = "this.form.submit()" })
                @Html.Hidden("type", "1")
                <button type="submit" class="btn btn-primary" style="margin-top: 8px; width: 20%">Add</button>
            </div>
        }
    </div>

    <table class="table table-hover">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Author Name</th>
        </tr>
        @foreach (var row in Model.Books)
        {
            i++;
            <tr>
                <td scope="row">@i</td>
                <td>@row.Name</td>
                <td>@row.Author.Name</td>
                <td>
                    <div class="dropdown">
                        <a class="nounderline dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            Actions... <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            @if (row.IsGivenUse)
                            {
                                <li><a href="#">Give in use...</a></li>
                            }
                            else
                            {
                                <li><a href="#">Take from use...</a></li>
                            }

                            <li role="separator" class="divider"></li>
                            <li><a href="#">Remove</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        }

    </table>
</div>
